@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: white) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  background: linear-gradient(90deg, black 0%, black 50%, #AA180E 50%, #AA180E 100%);
  background-size: 200% 100%;
  background-position: right;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bolder;
  pointer-events: all;
  cursor: pointer;
  transition: background-position 0.4s ease-in-out, transform 0.4s;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 30px;
}

button:hover {
  background-position: left;
  color: white;
  transform: scale(1.1);
}

.red-color {
  color: #AA180E;
}